/.vscode
/node_modules
/coverage
/.DS_Store

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun

*.log
*.lock
*.desktop
*.exe
*.bin